<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Penerbitan Izin</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
       
        
      </div>
    </base-header>
    
    <div class="card">
        <card>
            <div class="row">
                        <div class="col-lg-4">
                            <p class="text-xs text-muted mb-0">Pusdiklat Teknis dan Fungsional</p>
                            <p class="text-sm  mb-0"><b>Lembaga Administrasi Negara</b></p>
                            <br>
                            <el-tooltip content="Verifikasi Admin" placement="left">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-success">
                                <i class="ni ni-check-bold"></i>
                                Terverifikasi
                                </base-button>
                            </el-tooltip>
                            <el-tooltip content="Terorotisasi Kepala Pusat" placement="right">
                                <base-button size="sm" type="primary" class="btn-tooltip btn-info">
                                <i class="ni ni-lock-circle-open"></i>
                                Terotorisasi
                                </base-button>
                            </el-tooltip>
                        </div>
                        
                    </div>
                    <br>
            <div class="row">
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-info">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Informasi</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">Kelas : 5 |</span> 
                                    <span class="h6 font-weight-bold mb-0 text-white">peserta : 40</span>
                                    <br><span class="h6 font-weight-bold mb-0 text-white">Kuota tambahan : 10</span><br>
                                    <span><badge type="info">APBN-RM</badge>  <badge class="ml-1" type="success">PNBP</badge></span>

    
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-building"></i>
                                    </div>
                                </div>
                            </div>
                        </stats-card>
                            
                        </div>
                        <div class="col-lg-4">
                            <stats-card class="bg-gradient-danger">
                            <!-- Card body -->
                            <div class="row">
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-calendar-grid-58"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Jadwal</h5>
                                    <span class="h6 font-weight-bold mb-0 text-white">12 Sept 2019 - 20 Des 2019</span>
                                    <br>
                                    <span class="h6 font-weight-bold mb-0 text-white">Pusdiklat LAN Pejompongan</span>
                                </div>
                                
                            </div>
                        </stats-card>
                            
                        </div>
                        </div>
        </card>
        
    </div>
                

    </div>
</template>
<script>

import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
import {BasePagination} from '@/components';
 import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'
 import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'

export default {
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
        RouteBreadCrumb,
        DropzoneFileUpload,
        BasePagination
    },
    data(){
        return{
            fileSingle: [],
            pembina: null,penyelenggara: null,program: null,tahun: null,jumlahKelas: null,namaAngkatan: null,
            tempat: null,waktuMulai: null,waktuSelesai: null,sumberAnggaran: null,polaAnggaran: null,jumlahTotal: null,
            jumlahKuota:null,
            modals:{modal3:false,modal2:false},
            projects: [
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/bootstrap.jpg',
            title: 'Argon Design System',
            budget: '$2500 USD',
            status: 'pending',
            statusType: 'warning',
            completion: 60
          },
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/angular.jpg',
            title: 'Angular Now UI Kit PRO',
            budget: '$1800 USD',
            status: 'completed',
            statusType: 'success',
            completion: 100
          },
          {
            img: 'https://demos.creative-tim.com/vue-argon-dashboard-pro/img/theme/sketch.jpg',
            title: 'Black Dashboard',
            budget: '$3150 USD',
            status: 'delayed',
            statusType: 'danger',
            completion: 72
          },
          
        ],
        currentPage: 1
        }
    }
    
}
</script>

<style >

</style>