<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template  slot="links">
        <sidebar-item
          :link="{
            name: 'Dashboard',
            icon: 'fa fa-tachometer-alt text-primary',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Manajemen Akun',
            icon: 'fa fa-user-circle text-warning',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Manajemen Data Master',
            icon: 'fa fa-database text-success',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Rencana Penyelenggaraan',
            icon: 'fa fa-wrench text-danger',
            path: '/dashboard/perencanaan'
          }">
            <sidebar-item
              :link="{ name: 'Rencana Pelatihan', path: '/dashboard/perencanaan' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Informasi Rencana Pelatihan', path: '/dashboard/perencanaan/inforencana' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Verifikasi Pengajuan Permohonan', path: '/dashboard/perencanaan/verifpermohonan' }"
            ></sidebar-item>
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Registrasi Calon Peserta',
            icon: 'fa fa-users text-info',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Proses Penerbitan Izin',
            icon: 'fa fa-certificate text-primary',
            path: '/dashboard'
          }">
          <sidebar-item
              :link="{ name: 'Inventarisasi Pelatihan', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Verifikasi Pelatihan', path: '/alternative' }"
            ></sidebar-item>
          <sidebar-item
              :link="{ name: 'Otorisasi Pelatihan', path: '/alternative' }"
            ></sidebar-item>
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Pendaftaran Peserta',
            icon: 'fa fa-user text-warning',
            path: '/dashboard'
          }">
          <sidebar-item
              :link="{ name: 'Pendaftaran Peserta Pelatihan', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Daftar Peserta Pelatihan', path: '/alternative' }"
            ></sidebar-item>
          </sidebar-item>
        
        <sidebar-item
          :link="{
            name: 'Manajemen Akun Peserta',
            icon: 'fa fa-user-friends text-danger',
            path: '/dashboard'
          }">
          </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Penerbitan No KRA',
            icon: 'fa fa-file-alt text-success',
            path: '/dashboard'
          }">
          <sidebar-item
              :link="{ name: 'Inventarisasi Data', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Verifikasi Data', path: '/alternative' }"
            ></sidebar-item>
            <sidebar-item
              :link="{ name: 'Validasi Data', path: '/alternative' }"
            ></sidebar-item>
        </sidebar-item>
        <div v-if="status==5">
        <sidebar-item 
          :link="{
            name: 'Daftar Diklat',
            icon: 'ni ni-archive-2 text-info',
            path: '/dashboard/Diklat'
          }">
        </sidebar-item>
        </div>
        <sidebar-item
          :link="{
            name: 'Pengajuan Peserta Diklat',
            icon: 'ni ni-book-bookmark text-primary',
            path: '/dashboard/sertifikatDigital'
          }">
        </sidebar-item>
        <!-- <sidebar-item
        :link="{
          name: 'Perencanaan',
          icon: 'ni ni-single-copy-04 text-warning',
          path: '/dashboard/perencanaan'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Penerbitan izin',
          icon: 'ni ni-check-bold text-success',
          path: '/dashboard/Terbit-izin'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Pendaftaran Pelatihan',
          icon: 'ni ni-circle-08 text-info',
          path: '/dashboard/pendaftaran'
        }"></sidebar-item>
        <sidebar-item
        :link="{
          name: 'Pendaftaran Pelatihan (Admin)',
          icon: 'ni ni-circle-08 text-info',
          path: '/dashboard/adminDaftar'
        }"></sidebar-item> -->
        <!-- <sidebar-item
        :link="{
          name: 'Penerbitan KRA',
          icon: 'ni ni-badge text-warning',
          path: '/PenerbitanKRA'
        }"></sidebar-item> -->
        <!-- <sidebar-item
        :link="{
          name: 'Master',
          icon: 'ni ni-briefcase-24 text-danger'
        }">
          <sidebar-item :link="{ name: 'Akun', path: '/master/user' }"></sidebar-item>
        </sidebar-item> -->
        

        </template>

      <!-- <template slot="links-after">
        <hr class="my-3">
        <h6 class="navbar-heading p-0 text-muted"></h6>

        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="https://demos.creative-tim.com/vue-argon-dashboard-pro/documentation"
               target="_blank">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Tutorial</span>
            </a>
          </li>
          
        </ul>
      </template> -->
    </side-bar>
    <div class="main-content">
      <dashboard-navbar :type="$route.meta.navbarType"></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <nuxt-child/>
        </fade-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-new */
  import PerfectScrollbar from 'perfect-scrollbar';
  import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import DashboardContent from './Content.vue';
  import { FadeTransition } from 'vue2-transitions';

  export default {
    data(){
      return{
        status:this.$nuxt.$cookies.get('status')
      }
    },
    middleware:'ceklogin',
    components: {
      DashboardNavbar,
      ContentFooter,
      DashboardContent,
      FadeTransition
    },
    methods: {
      initScrollbar() {
        let isWindows = navigator.platform.startsWith('Win');
        if (isWindows) {
          initScrollbar('scrollbar-inner');
        }
      }
    },
    mounted() {
      this.initScrollbar()
    }
  };
</script>
<style lang="scss">
</style>
