<template>
    <div class="content">
        <base-header class="pb-3">
            
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Detail Data</h6>
            </div>
  
            </div>
        </base-header>
        <div v-for="(peserta,index) in datapeserta" :key="index"    class="card card-frame p-3">
            <div v-if="peserta.id==id">
            <h3>Detail Peserta</h3>
        <div class="row">
            
            <div  class="col-sm-9">
                <table width="100%" >
                    <tr>
                        <td ><b>Tempat dan Tanggal Lahir </b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.tempatLahir}}, {{peserta.tanggalLahir}}</td>
                    </tr>
                    <tr>
                        <td ><b>Agama</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.agama}}</td>
                    </tr>
                    <tr>
                        <td ><b>Jenis Kelamin</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.jenisKelamin}}</td>
                    </tr>
                    <tr>
                        <td ><b>Alamat</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.alamat}}</td>
                    </tr>
                </table>
                <hr>
                <table width="100%">
                    <tr>
                        <td ><b>NRP</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.nrp}}</td>
                    </tr>
                    <tr>
                        <td ><b>Nama Lembaga Diklat</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.namaLembagaDiklat}}</td>
                    </tr>
                    <tr>
                        <td ><b>Instansi</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.namaInstansi}}</td>
                    </tr>
                    <tr>
                        <td ><b>Pangkat dan Golongan</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.golongan}}</td>
                    </tr>
                    <tr>
                        <td ><b>Alamat Kantor</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.alamatKantor}}</td>
                    </tr>
                    <tr>
                        <td ><b>Tlp Kantor</b></td>
                        <td width="10%">  </td>
                        <td>{{peserta.noTelpKantor}}</td>
                    </tr>
                </table>
                <hr>
                <!-- <table width="100%">
                    <tr>
                        <td ><b>Nama Program Diklat</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>Angkatan</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>No Registrasi</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>Status Peserta</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>Status Pengajuan Peserta</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>Tanggal Pengajuan</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ><b>File Syarat Pengajuan</b></td>
                        <td width="10%">  </td>
                        <td></td>
                    </tr>
                </table> -->
                <hr>

            </div>
             <div class="col-sm-3">
                 <center><a href="#!" class="avatar avatar-xl "></a></center>
                 
             </div>
        </div>
            </div>
        </div>
    </div>    
</template>

<script>
import {Action} from '~/store/api/types'

export default {
    data(){
        return{
            datapeserta:'',
            id: this.$route.query.id,
            iddiklat:this.$route.query.iddiklat,
        }
    },
    created(){
        this.$store.dispatch(`${Action.datapeserta}`,this.iddiklat)
        .then(res=>{
            this.datapeserta=res.data
            console.log(this.datapeserta)
            console.log(this.id)
        })
        .catch(err=>{

        })
    },
    methods:{
        back(){
            this.$router.back()
        }
    }
}
</script>