<template>
    <div class="content">
        <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Daftar Diklat </h6>
               
            </div>
            <nuxt-link to="diklat/tambah">
            <base-button type="info" size="sm"  >Tambah Diklat</base-button>
            </nuxt-link>
  
            </div>
        </base-header>
        <!-- isi -->
        <div >
        
        <div class="card card-frame">
            <div class="card-body">
                <div class="table-responsive">
                <div>
                <table class="table align-items-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="no">No</th>
                            <th scope="col" >Aksi</th>
                            <th scope="col" class="sort" data-sort="id">Nama Diklat</th>
                            <th scope="col" class="sort" data-sort="id">Angkatan</th>
                            <th scope="col" class="sort" data-sort="nama" >Instansi Pembina</th>
                            <th scope="col" class="sort" data-sort="noreg">Penyelenggara</th>
                            <th scope="col" class="sort" data-sort="status">Tempat Pelaksanaan</th>
                            <th scope="col" class="sort" data-sort="status">Tanggal Pelaksanaan</th>

                        </tr>
                    </thead>
                    <tbody class="list" v-for="(diklat,index) in datadiklat" :key="index">
                     
                        <tr v-if="datadiklat!=''">
                            <th scope="row">
                                <div class="no align-items-center">
                                    {{index+1}}
                                </div>
                            </th>
                            <td >
                                <nuxt-link :to="{path:'diklat/info',query:{id:diklat.id}}"><i class="fa fa-info text-info" ></i></nuxt-link>
                                <!-- <nuxt-link to="diklat/edit"><i class="fa fa-edit text-success"></i></nuxt-link> -->
                                <i class="fa fa-trash-alt text-danger" @click="model.hapus = true"></i>
                                <modal :show.sync="model.hapus"
                                    gradient="danger"
                                    modal-classes="modal-danger modal-dialog-centered">
                                    <h6 slot="header" class="modal-title" id="modal-title-notification">Apakah Anda yakin ingin menghapus diklat?</h6>


                                    <template slot="footer">
                                        <base-button type="white">Ya</base-button>
                                        <base-button type="link"
                                                    class="ml-auto text-white"
                                                    @click="model.hapus = false">
                                            Batal
                                        </base-button>
                                    </template>
                                </modal>

                            </td>
                            <td class="id">
                                <div class="d-flex align-items-center">
                                    <span class="completion mr-2">{{diklat.namaProgramDiklat}}</span>
                                </div>
                            </td>
                            <td class="id">
                                <div class="d-flex align-items-center">
                                    <span class="completion mr-2">{{diklat.angkatan}}</span>
                                </div>
                            </td>
                            <td class="nama">
                                <div class="d-flex align-items-center">
                                    {{diklat.instansiPembina}} 
                                </div>
                            </td>
                            <td class="noreg">
                                <div class="d-flex align-items-center">
                                    {{diklat.penyelenggara}}
                                </div>
                            </td>
                            <td class="noreg">
                                <div class="d-flex align-items-center">
                                    {{diklat.tempat}}
                                </div>
                            </td>
                            <td class="status">
                                <div class="d-flex align-items-center">
                                    	{{diklat.tanggalPelaksanaan}} S/D {{diklat.tanggalSelesai}}
                                </div>
                            </td>
                        </tr>
                        <tr v-else>
                                <td>Daftar Diklat Kosong</td>
                        </tr>                                        
                                        
                                        
                        </tbody>
                    </table>
                </div>

                </div>
            </div>
            </div>

        <nav aria-label="..." class="p-2">
            <ul class="pagination">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                    <i class="ni ni-bold-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">
                    <i class="ni ni-bold-right"></i>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            </ul>
            </nav>

        

        </div>
    </div>
</template>

<script>
import {Mutation,Action} from '~/store/api/types'
export default {
    data(){
        return{
            datadiklat:'',
            isijwt:this.$nuxt.$cookies.get('isijwt'),
            model:{
                hapus:false,
            },
        }
    },
    created(){
        
        console.log(this.$nuxt.$cookies.get('status'))

         this.$store.dispatch(`${Action.semuadiklat}`,this.$nuxt.$cookies.get('status')).then(res=>{
             console.log(res.data)

             this.datadiklat=res.data
         })
    },
    methods:{
        back(){
            this.$router.back()
        }
    }
}
</script>