<template>
    <div class="content">
        <base-header class="pb-3">
            
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Manajemen Program Diklat</h6>
            </div>
  
            </div>
        </base-header>
        <div v-for="(diklat,index) in datadiklat" :key="index">

            <div v-if="diklat.id==id">
        <div  class="card card-frame p-3">
            <h3>Detail Data</h3>
        <div class="row">
            
            <div class="col-sm-7" >
                <table width="100%" >
                    <tr>
                        <td ><b>Nama Program Diklat </b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.namaProgramDiklat}}</td>
                    </tr>
                    <tr>
                        <td ><b>Jenis Program Diklat</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.jenisProgramDiklat}}</td>
                    </tr>
                    <tr>
                        <td ><b>Tahun</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.tahun}}</td>
                    </tr>
                    <tr>
                        <td ><b>Angkatan</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.angkatan}}</td>
                    </tr>
                    <tr>
                        <td ><b>Tempat Pelaksanaan</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.tempat}}</td>
                    </tr>
                    <tr>
                        <td ><b>Tanggal Pelaksanaan</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.tanggalPelaksanaan}} s/d {{diklat.tanggalSelesai}}</td>
                    </tr>
                </table>
                <hr>
                <table width="100%">
                    <tr>
                        <td ><b>Lembaga Diklat</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.lembagaDiklat}}</td>
                    </tr>
                    <tr>
                        <td ><b>Penyelenggara</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.penyelenggara}}</td>
                    </tr>
                    <tr>
                        <td ><b>Instansi Pembina</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.instansiPembina}}</td>
                    </tr>
                </table>
                <hr>
                <table width="100%">
                    <tr>
                        <td ><b>Kompetensi</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.kompetensi}}</td>
                    </tr>
                    <tr>
                        <td ><b>Persyaratan Peserta</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.persyaratanPeserta}}</td>
                    </tr>
                    <!-- <tr>
                        <td ><b>Persyaratan Pengajar</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.per}}</td>
                    </tr> -->
                    <tr>
                        <td ><b>Sarana dan Prasarana</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.saranaDanPrasarana}}</td>
                    </tr>
                    <tr>
                        <td ><b>Evaluasi Peserta</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.evaluasiPeserta}}</td>
                    </tr>
                    <tr>
                        <td ><b>Evaluasi Widyaiswara</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.evaluasiWidyaiswara}}</td>
                    </tr>
                    <tr>
                        <td ><b>Evaluasi Penyelenggaraan</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.evaluasiPenyelenggaraan}}</td>
                    </tr>
                    <tr>
                        <td ><b>Sertifikasi</b></td>
                        <td width="10%">  </td>
                        <td>{{diklat.sertifikasi}}</td>
                    </tr>
                </table>
                <hr>

            </div>
             <div class="col-sm-5">
                 <center><a href="#!" class="avatar avatar-xl "></a></center>
                 
             </div>
        </div>
            </div>
            </div>
        </div>
    </div>    
</template>

<script>
import { Action } from '../../../store/api/types'
export default {
    data(){
        return{
            datadiklat:'',
            id:this.$route.query.id
        }
    },
    created(){
        this.$store.dispatch(`${Action.daftardiklat}`).then(res=>{
            this.datadiklat=res.data
            console.log(res)
        }
        ).catch(err=>{

        })
    },
    methods:{
        back(){
            this.$router.back()
        }
    }
}
</script>