<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Informasi Rencana Pelatihan</h6>
            </div>
        </div>
        </base-header>
        
        <tabs tabNavClasses="nav-fill flex-column flex-sm-row nav-wrapper"
            tabContentClasses="card shadow">
            <tab-pane id="home">
                <span slot="title">
                    Informasi Rencana Pelatihan
                </span>
                
                <div class="card-body description">
                    <div class="row">
                        <el-table class="table-responsive table-flush"
                                header-row-class-name="thead-light"
                                :data="rencana">
                            <el-table-column label="No"
                                            prop="name"
                                            min-width="50px"
                                            sortable>
                                <template v-slot="{}">
                                    <span class="font-weight-600 name mb-0 text-sm">{{i=i+1}}</span>
                                </template>
                            </el-table-column>

                            <el-table-column label="Penyelenggara"
                                            prop="penyelenggara"
                                            min-width="180px"
                                            sortable>
                            </el-table-column>

                            <el-table-column label="Program Pelatihan"
                                            prop="program"
                                            min-width="280px"
                                            sortable>
                            
                            </el-table-column>

                            <el-table-column label="Tahun Penyelenggaraan" prop="tahun" min-width="220px" sortable>
                                
                            </el-table-column>

                            <el-table-column label="Jumlah Kelas"
                                            prop="jumlahkelas"
                                            min-width="220px"
                                            sortable>
                            </el-table-column>

                            <el-table-column label="Jumlah Total Peserta"
                                            prop="totpeserta"
                                            min-width="200px"
                                            sortable>
                            </el-table-column>


                            <el-table-column label="Sisa Kuota Peserta"
                                            prop="sisakuota"
                                            min-width="160px"
                                            sortable>
                            </el-table-column>

                            <el-table-column label="Action" min-width="220px" >
                                <template v-slot="{}">
                                    <nuxt-link to="inforencana/ajukan">
                                        <base-button type="primary" size="sm">Ajukan Permohonan</base-button>
                                    </nuxt-link>
                                </template>
                            </el-table-column>
                            
                        </el-table>

                        <div class="card-footer py-4 d-flex justify-content-end">
                            <base-pagination v-model="currentPage" :total="50"></base-pagination>
                        </div>
                        </div>
                </div>
            </tab-pane>

            <tab-pane id="profile">
                <span slot="title">
                    Informasi Pengajuan Permohonan
                </span>
                <div class="card-body description">
                    <div class="row">
                        

                        <div class="card-footer py-4 d-flex justify-content-end">
                            <base-pagination v-model="currentPage" :total="50"></base-pagination>
                        </div>
                        </div>
                </div>
            </tab-pane>
        </tabs>

    </div>
</template>

<script>
import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'

export default {
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            i:0,
            rencana: [
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                sisakuota:'12',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                sisakuota:'12',
                status: "Kuota Penuh"
              },
              
            ],
            pengajuan: [
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                sisakuota:'12',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                sisakuota:'12',
                status: "Kuota Penuh"
              },
              
            ],
            currentPage: 1,

       
        }
    },
     methods:{
        back(){
            this.$router.back()
        }
    },
}
</script>