<template>
    <div class="content">
        <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Pengajuan Peserta Diklat</h6>
               
            </div>
            <div v-if="status==5">
            <nuxt-link to="sertifikatDigital/pengajuan">
            <base-button type="info" size="sm"  >Ajukan Peserta </base-button>
            </nuxt-link>
            </div>
            <div v-else>
            </div>
  
            </div>
        </base-header>
        <!-- isi -->
        <div >
         
        <div v-if="datadiklat!=''">
        <div class="card" >
        <div  v-for="(diklat,index) in datadiklat" :key="index" >
                <!-- Card body -->
        <nuxt-link :to="{path:'sertifikatDigital/detailPengajuan',query:{id:diklat.id,status:diklat.status}}">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Avatar -->
            <a href="#" >
                <i class="ni ni-single-02" style="font-size:30px"></i>
            </a>
                </div>
                <div class="col ml--2">
                    <h4 class="mb-0">
                        <a href="#!">{{diklat.namaProgramDiklat}}</a>
                    </h4>
                    
                    <p class="text-sm text-muted mb-0">{{diklat.namaProgramDiklat}} Angkatan {{diklat.angkatan}} </p>
                    
                    <small>{{diklat.lembagaDiklat}}</small>
                </div>
                <div class="col-auto">          
                    <small>(jumlah) orang</small>
                </div>
            </div>
        </div>  
        </nuxt-link>
        <hr>
        
        </div>
        </div>
        </div>
        <div v-else>
            
            <div class="card card-frame">
            <div class="card-body">
                <div v-if="spinner.isLoading">
                    <br>
                    <div class="spinner-border text-primary" role="status">
                    </div>
                    <span class="text-primary">Mengambil Data Diklat ...</span>
                    <br> <br>
                </div>
                
                <div class="row align-items-center">
                Daftar Pengajuan Kosong
                </div>
            </div>
            </div>
        </div>

        <!-- <nav aria-label="..." class="p-2">
            <ul class="pagination">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                    <i class="ni ni-bold-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">
                    <i class="ni ni-bold-right"></i>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            </ul>
            </nav> -->

        

        </div>
    </div>
</template>

<script>
import {Action} from '~/store/api/types'
export default {
    data(){
        return{
            datadiklat:'',
            status:this.$nuxt.$cookies.get('status'),
            spinner:{
                isLoading:false,
                status:'',
            },
            
        }
      
    },
    created(){
        console.log('isists : '+this.status)
        if(this.$nuxt.$cookies.get('isijwt').authorities[0]=="ROLE_LEMDIK"){
            this.$nuxt.$cookies.set('status',5)
        }
        if(this.$nuxt.$cookies.get('isijwt').authorities[0]=="ROLE_ADMIN"){
            this.$nuxt.$cookies.set('status',1)
        }
        if(this.$nuxt.$cookies.get('isijwt').authorities[0]=="ROLE_KEPALA_LEMDIK"){
            this.$nuxt.$cookies.set('status',2)
        }
        if(this.$nuxt.$cookies.get('isijwt').authorities[0]=="ROLE_DEPUTI"){
            this.$nuxt.$cookies.set('status',3)
        }
        if(this.$nuxt.$cookies.get('isijwt').authorities[0]=="ROLE_KEPALA"){
            this.$nuxt.$cookies.set('status',4)
        }

        this.$store.dispatch(`${Action.datapeserta}`,)

        this.spinner.isLoading=true
        this.$store.dispatch(`${Action.semuadiklat}`,this.$nuxt.$cookies.get('status')).then(res=>{
            this.datadiklat=res.data
            this.spinner.isLoading=false
            this.spinner.status=true
            setTimeout(() => { this.spinner.status = '' }, 2000)

            console.log(this.datadiklat)
        }).catch(err=>{

            this.spinner.isLoading=false
            this.spinner.status=false
        })
    },
    methods:{
        back(){
            this.$router.back()
        }
    }
}
</script>