<template>
<div class="content">
    <base-header class="pb-3">
            <div class="row align-items-center">
            <div class="col-lg-10 col-10">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Pengajuan Peserta Diklat</h6>
                
            </div>
  
            </div>
        </base-header>
    <div class="card card-frame">
        <div class="card-body">
            <b>Import Peserta</b>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Nama Program Diklat</label>
                            <multiselect
                            v-model="value"
                            :options="options"
                            :close-on-select="false"
                            :clear-on-select="false"
                            :hide-selected="true"
                            :preserve-search="true"
                            placeholder="Pilih Program Diklat"
                            label="name"
                            track-by="name"
                            :preselect-first="true"
                            id="namadiklat"
                            @select="onSelect"
                            ></multiselect>
                        </div>
                        <div>
                            Download contoh Template File Peserta : <br><a href="https://kasipdev.lan.go.id/sipka/public/files/downloads/template_biodata_peserta_new.xls">Contoh File .xls Biodata Peserta</a>
                            <br><br>
                            Upload File Peserta Diklat (.xls,.xlsx)<br>
                            
                        </div>
                        <file-input ref="file" id="file"></file-input>
                        <br> <br>
                        <div>
                        <button v-on:click="ajukanpeserta" type="button" class="btn btn-primary"><span class="btn-inner--icon"><i class="ni ni-circle-08"></i></span> Simpan</button>
                        <div v-if="spinner.isLoading">
                            <br>
                            <div class="spinner-border text-primary" role="status">
                            </div>
                            <span class="text-primary">Memproses Pengajuan peserta ...</span>
                            
                        </div>
                        </div>                                    
                    </form>
                </div>

                <div class="col-sm">
                    <h3>Ketentuan Pengisian</h3>
                    <p>
                        1. Tidak boleh ada peserta dengan NIP yang sama dalam satu program diklat <br>

2. Jumlah maksimum peserta dalam satu kelas program diklat berbeda-beda, tergantung jenis program diklatnya <br>

3. Apabila berkas dokumen unggah berisi lebih dari maksimum kuota peserta maka akan ditolak <br>

4. Apabila jumlah peserta kelas yang dipilih ditambah dengan data peserta yang diunggah melebihi maksimum kuota peserta, maka data peserta yang diunggah akan dibuatkan kelas baru <br>

5. Untuk keperluan unggah berkas dokumen, format ekstensi yang didukung adalah XLS/XLSX. pastikan ukuran file tidak melebih dari 10 MB. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import FileInput from '@/components/Inputs/FileInput'
import { Action } from '../../../store/api/types'
import Axios from 'axios'
export default {
    components:{
        FileInput
    },
    created(){
        this.$store.dispatch(`${Action.semuadiklat}`,0).then(res=>{
                let data = res.data
                var jsondata={}
                for(let i=0;i<data.length;i++){
                    jsondata['name']=data[i].namaProgramDiklat;
                    jsondata['id']=data[i].id;
                    this.options.push(jsondata);
                }
            }
        )
    },
    data () {
    return {
        spinner:{
                isLoading:false,
                status:'',
            },
      value: { name: '',id:'',status:'' },
      options: []
    }
  },
  methods: {
        ajukanpeserta(){

            this.spinner.isLoading=true
            console.log(this.$refs.file.files[0])
            console.log(this.value.id)

            // var formdiklat = new FormData()
            // formdiklat.append('fileSurat',this.$refs.file.files[0])

            // Axios.post('http://intranet.lan.go.id:8555/diklat/datapeserta/'+this.value.id,{
            //     headers:{
            //          'Authorization': 'Bearer '+window.$nuxt.$cookies.get('token'),
            //          "Content-Type":'application/x-www-form-urlencoded'
            //     }
            // }).then(res=>{resolve(res)}
            // ).catch(err=>{reject(err)}
            // )

            this.$store.dispatch(`${Action.uploadpeserta}`,{file:this.$refs.file.files[0],diklat:this.value.id})
            .then(res=>{console.log(res)
            this.spinner.isLoading=false
            this.spinner.status=true
            setTimeout(() => { this.spinner.status = '' }, 2000)

            this.$router.push('/dashboard/sertifikatDigital')
            })
            .catch(err=>{console.log(err)
            this.spinner.isLoading=false
            this.spinner.status=false
            })
        },
        onSelect(option, id) {
        console.log(option, id);
        },
        back(){
            this.$router.back()
        }
  }
  

    
}
</script>