<template>
  <div class="content">
    <base-header class="pb-3">
      <div class="row align-items-center">
        <div class="col-lg-6 col-7">
          <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
          <h6 class="h2 text-white d-inline-block mb-0">Rencana Penyelenggaraan Pelatihan</h6>
         
        </div>
      
      </div>
    </base-header>
    
    <card  type="frame">
        <div class="row">
          <nuxt-link to="perencanaan/tambah">
            <base-button  type="primary">
              <i class="fa fa-plus"></i> Tambah Rencana Pelatihan
            </base-button>
          </nuxt-link>
        </div>
        <br>
        <div class="row">
        <el-table class="table-responsive table-flush"
                  header-row-class-name="thead-light"
                  :data="rencana">
            <el-table-column label="No"
                             prop="name"
                             min-width="50px"
                             sortable>
                <template v-slot="{}">
                    <span class="font-weight-600 name mb-0 text-sm">{{i=i+1}}</span>
                </template>
            </el-table-column>

            <el-table-column label="Action" min-width="120px" >
                <template v-slot="{}">
                    <el-dropdown trigger="click" class="dropdown">
                    <span class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-ellipsis-v mt-2"></i>
                    </span>
                        <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>

            <el-table-column label="Penyelenggara"
                             prop="penyelenggara"
                             min-width="180px"
                             sortable>
            </el-table-column>

            <el-table-column label="Program Pelatihan"
                             prop="program"
                             min-width="230px"
                             sortable>
              
            </el-table-column>

            <el-table-column label="Tahun Penyelenggaraan" prop="tahun" min-width="200px" sortable>
                
            </el-table-column>

            <el-table-column label="Jumlah Kelas"
                             prop="jumlahkelas"
                             min-width="180px"
                             sortable>
            </el-table-column>

            <el-table-column label="Jumlah Total Peserta"
                             prop="totpeserta"
                             min-width="160px"
                             sortable>
            </el-table-column>

            <el-table-column label="Status"
                             prop="status"
                             min-width="120px"
                             sortable>
                <template v-slot="{row}">
                    <div class="d-flex align-items-center">
                        <span class="completion mr-2">{{row.status}}</span>
                        
                    </div>
                </template>
            </el-table-column>
            
        </el-table>

        <div class="card-footer py-4 d-flex justify-content-end">
            <base-pagination v-model="currentPage" :total="50"></base-pagination>
        </div>
        </div>
       
    </card>
                

    </div>
</template>
<script>



import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown} from 'element-ui'

export default {
    components:{
        [Table.name]: Table,
        [TableColumn.name]: TableColumn,
        [Dropdown.name]: Dropdown,
        [DropdownItem.name]: DropdownItem,
        [DropdownMenu.name]: DropdownMenu,
    },
    data(){
        return{
            i:0,
            rencana: [
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                status: "Kuota Penuh"
              },
              {
                penyelenggara: 'PusKAN',
                program: 'Latsar CPNS I',
                tahun: '2020',
                jumlahkelas: '3',
                totpeserta: '120',
                status: "Kuota Penuh"
              },
              
            ],
            currentPage: 1,

       
        }
    },
     methods:{
        back(){
            this.$router.back()
        }
    },
    
}
</script>

<style >

</style>