<template>
    <div class="content">
        <base-header class="pb-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-7">
                <a v-on:click="back"><i  class="ni ni-bold-left text-white"></i></a>
                <h6 class="h2 text-white d-inline-block mb-0">Tambah pelatihan</h6>
            </div>
        </div>
        </base-header>
        <card type="frame">
            <div class="form-group">
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Nama Instansi Pembina</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Instansi Pembina"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Penyelenggara</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Penyelenggara"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Program Pelatihan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Program Pelatihan"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Tahun Penyelenggaraan</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Pilih Tahun"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Kelas</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Masukkan Jumlah Kelas"></base-input>
                    </div>
                </div>
                <div class=" row">
                    <label class="col-md-6 col-form-label form-control-label">Jumlah Total Peserta</label>
                    <label class="col-md-1 col-form-label form-control-label">:</label>
                    <div class="col-md-5">
                    <base-input placeholder="Masukkan Total Peserta"></base-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><base-input placeholder="Jumlah peserta"></base-input></div>
                <div class="col-sm-2"><base-input placeholder="Pilih Asal Instansi"></base-input></div>
                <div class="col-sm-2"><base-input placeholder="Pilih Sumber Anggaran"></base-input></div>
                <div class="col-sm-2"><base-input placeholder="Pilih Pola Anggaran"></base-input></div>
                <div class="col-sm-2">
                    <base-button type="primary">
                        <i class="fa fa-plus"></i>
                    </base-button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-0">
                    <button-checkbox size="sm" v-model="buttonCheckbox" button-classes="btn-secondary btn-sm"><i class="fa fa-check"></i></button-checkbox>
                </div>
                <div class="col-sm-7">
                    <span>Dengan ini saya menyatakan data yang saya isi adalah benar. </span>
                </div>
                <div class="col-sm-1">
                    <base-button type="success">Kirim</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="info">Simpan</base-button>
                </div>
                <div class="col-sm-0">
                    <base-button type="warning">Kembali</base-button>
                </div>
            </div>
        </card>
    </div>
</template>

<script>
export default {
    data(){
        return {
            buttonCheckbox:false
        }
    },
     methods:{
        back(){
            this.$router.back()
        }
    }
    
}
</script>